* {
    font-family:fantasy;
}

.title h1 {
    /* let it fill the whole container */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: 52px;
  }
  .title h1:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .title h1 {
    display: inline-block;
    vertical-align: middle;
  }

span {
    color:red;
}

.title {
    background-color: black;
    height: 13vh;
    text-align: center;
    position: relative;
}

/* home page content */
.picture {
    width: 100%;
    height: 35vh;
}

.row {
    justify-content: center;
    height: 35vh;
    margin-top: 60px;
}


/* nav buttons */

.nav-tabs {
    justify-content: center;
    
}

.nav-pills {
    justify-content: center;
    padding: 5px;
}

.nav-link {
    color: red;
    border: 1px solid black;

}

/* About us tab pane */

.about {
    text-align: center;
    margin-top: 120px;
    padding: 20px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    background-image: url(https://media.istockphoto.com/photos/newspaper-with-old-grunge-vintage-unreadable-paper-texture-background-picture-id1130355559?b=1&k=20&m=1130355559&s=170667a&w=0&h=z-5_omTEewRaHvZxWXufBciT-SHhfIXHuAecGAWx-lo=);
    background-position: center;
    background-size: cover;
}


/* Ingredients and Recipes */

h3 {
    text-align: center;
    padding-top: 70px;
}

.container p {
    text-align: center;
}
.list-group {
    text-align: center;
}

/* carousel */
.carousel-inner img {
    width: 100%;
    height: 100%;
  } 

.carousel-item {
    height: 50vh;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

/* page 1 */

.ourrecipes h2 {
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    color: white;
}

.ourrecipes {
    background: #007bff;
    border-radius: 30px;

}

/* grid */

.col-md-4 h5 {
    margin-top: 10px;
    margin-left: 10px;
}

/* card */

.btn-success, .btn-default {
    float:right;
}


.card {
    box-shadow: 3px 3px 1px #aaaaaa;
    border-radius: 0;
}

/* page three */

.cont {
    width: 80%;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid #777;
    padding-bottom: 10px;
}

.cont img {
    width: 80%;
}

.map {
    width: 80%;
    margin: auto;
    padding: 10px 0 79px 0;
}

#three h3 {
    padding-bottom: 30px;
    font-size: 40px;
}

#three h2 {
    width: 80%;
    margin: auto;
    padding-top: 45px;
    font-size: 50px;
    border-top: 1px solid #777;
}

.map iframe {
    width: 100%;
}

.places-row {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.contact-us {
    width: 80%;
    margin: auto;
    margin-top: -10vh;
}

.contact-us-col {
    flex-basis: 48%;
    margin-bottom: 31px;
}

.contact-us-col div {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.contact-us-col div .fa{
    color: #007bff;
    font-size: 30px;
    margin: 10px;
    margin-right: 31px;
}

.contact-us-col div p {
    padding: 0;
    color: #777;
    font-size: 13px;
    text-align: left;
}

.contact-us-col div h5 {
    color: #555;
    font-weight: 200;
    font-size: 17px;
    margin-bottom: 5px;
}

.contact-us-col input, .contact-us-col textarea {
    width: 100%;
    margin-bottom: 16.5px;
    padding: 15.5px;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;
}

@media(max-width: 700px) {
    .places-row {
        flex-direction: column;
    }
}

/* footer */

.page-footer {
    background: black;
}

